@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<main>
    <form asp-controller="Acceso" asp-action="Editar_Cliente" method="post">
        <input type="text"/>

        <button type="submit">Actualizar</button>
    </form>
</main>