@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="seccion d-flex flex-row w-100 gap-4">
        <a class="stakeholder w-50 seccion d-flex flex-row gap-4 align-items-center justify-content-center" asp-controller="Acceso" asp-action="Stakeholders_Cliente"><h1 class="titulo">Clientes</h1></a>
        <div class="stakeholder w-50 seccion d-flex flex-row gap-4 align-items-center justify-content-center selected"><h1 class="titulo">Proveedores</h1></div>
    </div>
</main>