@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="seccion d-flex flex-row w-100 gap-4">
        <div class="stakeholder w-50 seccion d-flex flex-row gap-4 align-items-center justify-content-center selected"><h1 class="titulo">Clientes</h1></div>
        <a class="stakeholder w-50 seccion d-flex flex-row gap-4 align-items-center justify-content-center" asp-controller="Acceso" asp-action="Stakeholders_Proovedor"><h1 class="titulo">Proveedores</h1></a>
    </div>

    <a asp-controller="Acceso" asp-action="Agregar_Cliente">Agregar cliente</a>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Nombres y apellidos</th>
                <th scope="col">Estado</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>84652</td>
                <td>Perfecto</td>
                <td><a asp-controller="Acceso" asp-action="Editar_Cliente">editar</a></td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>4521</td>
                <td>Dañado</td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>55568</td>
                <td>Perfecto</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</main>