@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model EMSI_Corporation.ViewModels.MantenimientoVM;

@{
    var extintor = ViewBag.extintor as EMSI_Corporation.Models.Extintor;
    var venta = ViewBag.venta as EMSI_Corporation.Models.Venta;
    var empleado = ViewBag.empleado as EMSI_Corporation.Models.Empleado;
}
<div class="seccion">
    <h1>Agregando Detalles del extintor..</h1>
    <form class="modal-content" asp-controller="Mantenimiento" asp-action="RegistrarEstadoExtintor" method="post">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar un producto</h1>
            <a type="button" class="btn btn-close" asp-controller="Mantenimiento" asp-action="Registrar" asp-route-id=@extintor.IdExtintor></a>
        </div>
        <div class="modal-body d-flex flex-column gap-3">

            <h1 class="titulo">Localización</h1>
            <input hidden value=@extintor.IdExtintor asp-for="Extintor_ID" />
            <input hidden value=@empleado.IdEmpleado asp-for="Empleado_ID" />
            <div class="form-line">
                <span>Lugar adecuado:</span>
                <select class="field" asp-for="LugarAdecuado" id="yesno">
                    <option value="true">si</option>
                    <option value="false">no</option>
                </select>
            </div>
            <div class="form-line">
                <span>Señalizado:</span>
                <select class="field" asp-for="Señalización" id="yesno">
                    <option value="true">si</option>
                    <option value="false">no</option>
                </select>
            </div>
            <div class="form-line">
                <span>Visibilidad:</span>
                <select class="field" asp-for="Visible" id="yesno">
                    <option value="true">si</option>
                    <option value="false">no</option>
                </select>
            </div>


            <h1 class="titulo">Seguridad</h1>
            <div class="form-line">
                <span>Usado:</span>
                <select class="field" asp-for="Usado" id="yesno">
                    <option value="true">si</option>
                    <option value="false">no</option>
                </select>
            </div>
            <div class="form-line">
                <span>Estado del precinto:</span>
                <select class="field" asp-for="EstadoPrecinto" id="yesno">
                    <option value="true">si</option>
                    <option value="false">no</option>
                </select>
            </div>
            <div class="form-line">
                <span>Estado del indicador:</span>
                <select class="field" asp-for="EstadoIndicador" id="yesno">
                    <option value="true">si</option>
                    <option value="false">no</option>
                </select>
            </div>
            <div class="form-line">
                <span>Presión correcta:</span>
                <select class="field" asp-for="PresionCorrecta" id="yesno">
                    <option value="true">si</option>
                    <option value="false">no</option>
                </select>
            </div>
            <div class="form-line">
                <span>Exterior correcto:</span>
                <select class="field" asp-for="ExteriorCorrecto" id="yesno">
                    <option value="true">si</option>
                    <option value="false">no</option>
                </select>
            </div>

            <div class="form-line">
                <span>Peso correcto:</span>
                <select class="field" asp-for="PesoCorrecto" id="yesno">
                    <option value="true">si</option>
                    <option value="false">no</option>
                </select>
            </div>
            <div class="form-line">
                <span>Manguera correcta:</span>
                <select class="field" asp-for="MangueraCorrecta" id="yesno">
                    <option value="true">si</option>
                    <option value="false">no</option>
                </select>
            </div>
            <div class="form-line">
                <span>Boquilla correcta:</span>
                <select class="field" asp-for="BoquillaCorrecta" id="yesno">
                    <option value="true">si</option>
                    <option value="false">no</option>
                </select>
            </div>
            <div class="form-line">
                <span>Instrucciones visibles:</span>
                <select class="field" asp-for="InstruccionesVisibles" id="yesno">
                    <option value="true">si</option>
                    <option value="false">no</option>
                </select>
            </div>
            <div class="form-line">
                <span>Apertura:</span>
                <select class="field" asp-for="AperturaCorrecta" id="yesno">
                    <option value="true">si</option>
                    <option value="false">no</option>
                </select>
            </div>
            <div class="form-line">
                <span>Banometro correcto</span>
                <select class="field" asp-for="BarometroCorrecto" id="yesno">
                    <option value="true">si</option>
                    <option value="false">no</option>
                </select>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" asp-controller="Mantenimiento" asp-action="Registrar" asp-route-id=@extintor.IdExtintor>Cancelar</button>
            <button id="add-prod-btn" type="submit" class="btn btn-primary">Agregar</button>
        </div>
    </form>
</div>
