<style >
    #calendar {
        max-width: 100%;
        margin: 0 auto;
        padding: 20px;
        height: 80vh;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }
</style >
