* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#btn-disabled-link {
    pointer-events: none;
    background-color: dimgray;
    border: none;
    outline: none;
}

.canvas-btns {
    display: flex;
    flex-direction: row;
    gap: .5rem;
}

.canvas-btns > div {
    width: 50%;
    height: 3rem;
    color: white;
    border: 0;
    border-radius: .5rem;
    cursor: pointer;
    transition: all 200ms ease;
    display: flex;
    align-items:center;
    justify-content: center;    
}

.canvas-btns > div:hover {
    filter: brightness(70%);
    transition: all 200ms ease;
}

#canvas-clear {
    background-color: #bd374b;
}

#canvas-save {
    background-color: #5f8c5f;
}

.mantenimiento {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10fr 1fr;
    gap: 2em;
}

.sec-mant-servicio {
    grid-area: 1 / 1 / span 1 / span 1;
}

.sec-mant-observaciones {
    grid-area: 1 / 2 / span 1 / span 1;
}

#submit-btn {
    grid-area: 2 / 1 / span 1 / span 2;
}

canvas {
    cursor: crosshair;
}

@media screen and (max-width:1000px){
    .mantenimiento {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .sec-mant-servicio {
        grid-area: 1 / 1 / span 1 / span 1;
    }

    .sec-mant-observaciones {
        grid-area: 2 / 1 / span 1 / span 1;
    }
}